@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  background-color: rgb(249, 250, 252);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loading-wrapper,
.activation-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
